*.sch~
*.sym
*.lst
*.p1
*.p1.d
*.pre
*.cmf
*.cof
*.hxl
*.map
*.mum
*.rlf
*.sdb


*.DBK
*.DSN
*.PWI
/schemi

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/MPLAB/build/test/
/MPLAB/dist/test/
/MPLAB/build/TEST/
/MPLAB/dist/TEST/
/MPLAB/tests/RS232/FornoTest.X/nbproject/private/
/MPLAB/tests/RS232/FornoTest.X/build/test/
/MPLAB/tests/RS232/FornoTest.X/dist/test/